################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Group Project/v17/Browse.VC.opendb
/.vs/Group Project/FileContentIndex/00afe43b-a3b1-4062-8284-5d1d71844f5a.vsidx
/.vs/Group Project/FileContentIndex/c1cccda4-378b-433f-9860-1485956ed0d8.vsidx
